
<div class="content">
  <div id="wrapper">
    <!-- <input type="text" value=" " class="inline-link new-form" data-mfp-src="#inline-popup2"> -->
  </div>
  <div id="inline-popup2" class="mfp-hide">
    <%= render partial: "feeds/form" %>
    <div class="mfp-close"></div>
  </div>
</div>
