<div class="content">
  <div id="wrapper">
    <div id="inline-popup2" class="mfp-hide">
    <%= render partial: "feeds/form", locals: {feed: @feed } %>
    <div class="mfp-close"></div>
  </div>
</div>
