<br>
<div class="container" id="main_layout">
  <div class="row">
    <div class="col-md-3 col-md-offset-4">
<h3>プロフィール</h3>
<svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
</svg>
      <h3><u><%= @user.name %></u></h3>
      <p>Email: <%= @user.email %></p>
        <button type="button" class="btn btn btn-info"><%= link_to '新規投稿', '/feeds/new'%></button>
        <button type="button" class="btn btn-info"><%= link_to '一覧ページ', '/feeds/'%></button>
      <br><br><br><br>
    </div>
  </div>
</div>
