/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 html {
   position: relative;
   height: 100%;
 }


 nav.navbar navbar-default navbar-fixed-top {
   background-color: #1877F2;
 }

a.navbar-brand {
  padding-left: 0px;
}

img.mb-4 {
  padding-top: 0px;
  padding-bottom: 17px;
  padding-left: 13px;
  padding-right: 23px;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  height: 100%;
  min-height: 100%;
  padding-bottom: 50px;
}

footer {
  color: gray;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 100;
}
