/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 html {
   position: relative;
   height: 100%;
 }
 body {
   margin-bottom: 60px;
   height: 100%;
 }

 nav.navbar navbar-default navbar-fixed-top {
   background-color: #1877F2;
 }

 #body-inside {
   width: 100%;
   position:relative;
   min-height: 100%;
 }
image.mb-4 {
  padding-bottom: 10px;
}

footer.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

footer.footer p {
  text-align: center;
  padding-top: 50px;
}
